.topnav {
    font-family: Cinzel;
    text-shadow: 2px 2px 5px;
}

label {
    color: white;
}

.searchbar {
    font-family: 'Times New Roman', Times, serif;
}

.formButtons {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.bookstore {
    font-size: 4em;
    font-weight: bold;
    color: white;
}